<ion-view title="Home" id="page1">
    <ion-content padding="true" class="has-header">

        <div id="wrapperListIncidences">
            <div class="list">
                <a class="item" href="#" ui-sref="listIncidences">
                    <h2>Piso 6C Bloque 4</h2>
                    <p>Desperfectos en tarima</p>
                </a>

                <a class="item" href="#" ui-sref="listIncidences">
                    <h2>Piso 5D Bloque 3</h2>
                    <p>Desperfectos en puerta de entrada</p>
                </a>

                <a class="item" href="#" ui-sref="listIncidences">
                    <h2>Piso 10A Bloque 6</h2>
                    <p>Bañera pierde agua</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>