<ion-view title="ListIncidences" id="page7" animation="slide-left-right">
    <ion-content padding="true" class="has-header">
        <div class="list">

            <div class="item item-divider">
                Situación:
            </div>

            <a class="item" href="#">
                Piso 6c Bloque 4 Portal A
            </a>
            <br>
            <div class="item item-divider">
                Descripción:
            </div>

            <a class="item" href="#">
                Salida de humos obstruida
            </a>

            <br>
            <div class="item item-divider">
                Comentarios:
            </div>

            <a class="item" href="#">
                Las salida de humos se coloco mal en su momento debido a una mala planificacion, se calcula un plazo de x horas parea su arreglo.
            </a>

            <br>
            <div class="item item-divider">
                Photos:
            </div>

            <a class="item" href="#">
                <img src="img/ejemplo1.jpg" alt="" width="150px">
            </a>

        </div>
    </ion-content>
</ion-view>